@mixin flex_center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin Arimo($weight) {
    font-weight:weight;
    font-family: 'Arimo', sans-serif;
}