@import "../../stylesrc/generalmixins.scss";


.page {
    @include Arimo(bolder);
    @include flex_center;
    flex-direction:column;
    font-size : 5vh;
}

.logo {
    @include flex_center;
    flex-direction: column;
    height: fit-content;
}

.EnterButton {
    @include flex_center;
    flex-direction:column;
    height:fit-content;
    text-decoration: none;
    position: absolute;
    bottom: 5vh;
    text-align: center;
    font-size:2.5vh;
}


.text {
    text-align: center;
}


.line {
    background-color:black;
    display:flex;
    width:85%;
    height:0.25vh;
}



