@import "../../stylesrc/generalmixins.scss";

.Gallery {
    position:absolute;
    left:50%;
    transform: translate(-50%, 25%);
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    width:100vw;
    justify-content: space-around;
    align-items:center;
    row-gap:5rem;
}

.Image-panel {
    display:flex;
    justify-content: center;
    margin:0px;
    width:fit-content;
    height:fit-content;
    flex-grow:1;
    
    
}
